h2, h3, p {
  text-align: center;
}

h2 {
  font-family: 'Righteous', cursive;
  color: green;
}
h3 {color: green;}

li {font-style: italic;}
/* v3 to v4->>*/
a {text-decoration: none;}
a:hover {
  text-decoration: underline;
  background-color: red;
}
td {background-color: khaki;}
/* <<-v3 to v4*/
