h2 {
  text-align: center;
  font-family: 'Righteous', cursive;
}
.footer {
  display: block;
  font-size:.85em;
  text-align: center;
}
.Menubackground { background-color: #e6fff2 }

.HomeBackground { background-color: #ffb3b3 }
/*v3 to v4..>>>*/
a:visited { color: red;}
a:hover { font-weight: bold;}
a:active {text-decoration: none}
table {
  margin-left: 44%;
  font-family:Garamond;
  font-size:  80%;
  font-style: italic;
}
caption {text-decoration: underline; font-size: 120%; font-weight: bold}
/*<<<..v3 to v4*/
.item p { font-size: 300%;
    background-color: blue;
}
