h2 {
  text-align: center;
  font-family: 'Righteous', cursive;
}
.footer {
  display: block;
  font-size:.85em;
  text-align: center;
}
.Menubackground { background-color: #e6fff2 }

.HomeBackground { background-color: #ffb3b3 }
